@page "/"

@inject BillOMatApiClient billOMatApi

<PageTitle>Home</PageTitle>

<h1>Hello, metrics!</h1>

@if (_grafanaUrl != null)
{
    <p>
        View this app's Grafana dashboard at <a href="@_grafanaUrl" target="_blank">@_grafanaUrl</a>.
    </p>
}

@code {
    private static string? _grafanaUrl;

    protected override async Task OnInitializedAsync()
    {
        if (_grafanaUrl == null)
        {
            var config = await billOMatApi.GetConfiguration();
            _grafanaUrl = config!.GrafanaUrl;
        }
    }
}
